__pycache__/
.cache/
.vscode/
.bash_history
*.generated
docker/openvino_base_environment.txt
docker/Dockerfile.env
docker/final.env
models
samples/edgex_bridge/edgex/**/*
samples/kubernetes/values.yaml
